<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <script>
      const button="btn btn-danger"
  </script>

<body>
   <div class="container">
      
    <h1 class="d-inline">Blog Articles</h1>
    <div class="d-inline float-right">User: <%=loggedInUser.username%></div>
<div>
    <a class="btn btn-success mt-3" href="/newArticle">New Article</a>
    <a href="/logOut" class="btn btn-info float-right mt-3">Logout</a>
    <% articles.forEach((article,index)=>{%>
        <div class="border black mt-2" >
            <div class="m-3">
           <a href="/showUser/<%=article.author%>"><img src="<%=authors[index].photoURL%>" width=50 height=50></a>
            <h3 class="d-inline"><%=article.title%></h3>
            <% if (!article.likedBy.includes(loggedInUser.username)){%>
             <span><i class="fa fa-thumbs-o-up"></i> <%=article.likedBy.length%> </span>
             <%} else {%>
                <span><i class="fa fa-thumbs-up"></i> <%=article.likedBy.length%> </span>
            <%}%>
            <div style="color:grey">Created by <%=article.author%> at <%=article.date%></div>
    
            <div style="max-height:3em;height:fit-content;overflow:hidden"><%=article.description%></div>
            
            <a href="/showArticle/<%=article.id%>"><button  class="btn btn-primary">Read More</button></a>
       
             </div>
             
            
        </div>
        
        
        <%})%>
   </div>
</div>
</body>
</html>


        