<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Blog</title>
</head>


<body>
   <div class="container">
      
    <h1>Blog Articles</h1>
    <a class="btn btn-success" href="/newArticle">New Article</a>
    <a href="/deleteAll" class="btn btn-danger float-right">Delete All Blogs</a>
    <% articles.forEach(article=>{%>
        <div class="border black mt-2" >
            <div class="m-3">
            <h3><%=article.title%></h3>
            <div style="color:grey">Last Edited <%=article.date%></div>
            <div style="max-height:3em;height:fit-content;overflow:hidden"><%=article.description%></div>
            
            <a href="/show/<%=article.id%>"><button  class="btn btn-primary">Read More</button></a>
            <a href="/edit/<%=article.id%>"><button class="btn btn-info">Edit</button></a>
            
            <form method="post" action="/<%=article.id%>?_method=DELETE" className="float-left" style="display:inline">
                <button class="btn btn-danger" id="deleteButton">Delete</button>
            </form>
         
             </div>
             
            
        </div>
        
        
        <%})%>
   </div>
</body>
</html>


        