<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user.username%>'s Profile</title>
</head>
<body>
<div style="float:left;height:100vh;max-width:30vw" class="m-2">
<img src="<%=user.photoURL%>" width=100 height=100 style="display:inline-block;">
<h2 style="display:inline-block"><%=user.username%>'s Profile</h2><br>
<% if(user.username==loggedInUser.username){%>
    <a href="/editProfile" ><button class="bt btn-primary mt-3">Change Profile</button></a>
<%}%>
<div>Bio: <%=user.Bio%></div>
</div>

<div style="position:absolute;left:30vw"> 
    <% articles.forEach((article,index)=>{%>
        <div class="border black mt-2" >
            <div class="m-3">
           <a href="/showUser/<%=article.author%>"><img src="<%=user.photoURL%>" width=50 height=50></a>
            <h3 class="d-inline"><%=article.title%></h3>
            <% if (!article.likedBy.includes(user.username)){%>
             <span><i class="fa fa-thumbs-o-up"></i> <%=article.likedBy.length%> </span>
             <%} else {%>
                <span><i class="fa fa-thumbs-up"></i> <%=article.likedBy.length%> </span>
            <%}%>
            <div style="color:grey">Created by <%=article.author%> at <%=article.date%></div>
    
            <div style="max-height:3em;height:fit-content;overflow:hidden"><%=article.description%></div>
            
            <a href="/showArticle/<%=article.id%>"><button  class="btn btn-primary">Read More</button></a>
       
             </div>
             
            
        </div>
        
        
        <%})%>
</div>
</body>
</html>