<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="m-3">
    <h1><%=article.title%></h1>
    <div>Last Edited <%=article.date%> by <%=article.author%></div>
    <a href="/homepage/" class="btn btn-secondary">Back to Homepage</a>
  
    <div><%=article.markdown%></div>
    <hr>
    <h3>Comments</h3>
    <form action="/show/<%=article.id%>" method="POST">
        <textarea id="newComment" name="newComment"></textarea>
        <button class="btn btn-primary" type="submit">Post Comment</button>
    </form>

    <% article.comments.forEach((comment,index)=>{%>
    <div className="border-2">
        <div style="font-weight:700"><%=article.authorAtComment[index]%></div>
        <div className="border-2"><%=comment%></div>
        <hr>
    </div>
    <%})%>
</body>
</html>